<div class="hero fullscreen bg-gray-600">
  <div class="hero-body">
    <div class="px-3 w-100p">
      <div class="u-flex u-justify-space-between u-items-center">
        <div>
          <div class="frame bg-white">
            <div class="frame__header u-text-center">
              <h2 class="title" style="letter-spacing: -0.025rem;">Well hello there</h2>
              <h5 class="subtitle" style="letter-spacing: -0.025rem;">How you doin ?</h5>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
